doctype 5
html(lang="en")
    head
        style(type='text/css').
            div {
                width: 300px;
                border: 15px solid green;
                padding: 50px;
                margin: 20px;
            }

p Hi #{name},
div Your email is #{email}
    div Please dont use my css, use your custom css, it was so hard for me to make this beautiful design :)